/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type=number] {
   -moz-appearance: textfield;
}

:root {
   --heightStandard: 72px;
   --widthButton: 40px;
   --widthStatus: 90px;
   --widthData: 80px;
   --widthQuantidade: 80px;
   --widthEmail: 105px;
   --widthButtonEmail: 48px;
   --widthAcompanhamentoPedido: 323px;
}


.divCancelar,
.divDetalhe,
.divNroPedido,
.divNomeFornecedor,
.divDescrEmpresa,
.divStatus,
.divData,
.divQuantidade,
.divEmail,
.divButtonEmail,
.divAcompanhamentoPedido,
.divDescrProduto,
.divDescrEmbalagem {
   float: left;
   padding-right: 5px;
   padding-left: 5px;
}

.divExpandir, .divCancelar {
   margin-right: 10px;
}
/*
   .divExpandir > button, .divCancelar > button {
      height: var(--heightStandard);
      width: var(--widthButton);
      min-width: var(--widthButton);
      max-width: var(--widthButton);
      padding: 0px;
   }*/

.divDetalhe {
   width: calc(100% - 2 * var(--widthButton));
}

.divNroPedido {
   width: calc(var(--widthStatus) + var(--widthData));
   min-width: calc(var(--widthStatus) + var(--widthData));
   max-width: calc(var(--widthStatus) + var(--widthData));
}

.divNomeFornecedor {
   width: calc((3 * var(--widthQuantidade)) + var(--widthData) + var(--widthEmail) + var(--widthButtonEmail));
   min-width: calc((3 * var(--widthQuantidade)) + var(--widthData) + var(--widthEmail) + var(--widthButtonEmail));
   max-width: calc((3 * var(--widthQuantidade)) + var(--widthData) + var(--widthEmail) + var(--widthButtonEmail));
}

.divDescrEmpresa {
   width: var(--widthAcompanhamentoPedido);
   min-width: var(--widthAcompanhamentoPedido);
   max-width: var(--widthAcompanhamentoPedido);
}

.divStatus {
   width: var(--widthStatus);
   min-width: var(--widthStatus);
   max-width: var(--widthStatus);
   text-align: center;
}

.divData {
   width: var(--widthData);
   min-width: var(--widthData);
   max-width: var(--widthData);
   text-align: center;
}

.divQuantidade {
   width: var(--widthQuantidade);
   min-width: var(--widthQuantidade);
   max-width: var(--widthQuantidade);
   text-align: right;
}

.divEmail {
   width: var(--widthEmail);
   min-width: var(--widthEmail);
   max-width: var(--widthEmail);
}

.divButtonEmail {
   width: var(--widthButtonEmail);
   min-width: var(--widthButtonEmail);
   max-width: var(--widthButtonEmail);
}

.divAcompanhamentoPedido {
   width: var(--widthAcompanhamentoPedido);
   min-width: var(--widthAcompanhamentoPedido);
   max-width: var(--widthAcompanhamentoPedido);
   margin-top: 5px;
}

.divDescrProduto {
   width: 100%;
}

.divDescrEmbalagem {
   width: var(--widthData);
   min-width: var(--widthData);
   max-width: var(--widthData);
}

#listOrdem p {
   white-space: nowrap;
   overflow: hidden;
}

.pedidoEmAberto {
   background-color: #E33244;
   color: white;
}

.pedidoCancelado {
   background-color: transparent;
   color: black;
}

.pedidoEncerrado {
   background-color: #1aae88;
   color: white;
}

.indicatorRed {
   color: #E33244;
   font-size: 12px;
}

.indicatorGreen {
   color: #1aae88;
   font-size: 12px;
}

@media (min-width: 1659px) {
   :root {
      --heightStandard: 72px;
      --widthButton: 40px;
      --widthStatus: 100px;
      --widthData: 100px;
      --widthQuantidade: 100px;
      --widthEmail: 105px;
      --widthButtonEmail: 48px;
      --widthAcompanhamentoPedido: 506px;
   }
}

padding-20 {
   padding-top: 20px;
}

.card {
   position: relative;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: .25rem;
}

.card-body {
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   /*padding: 1.25rem;*/
}

.card-header {
   padding: .75rem 1.25rem;
   margin-bottom: 0;
   background-color: rgba(0,0,0,.03);
   border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-footer {
   padding: .75rem 1.25rem;
   background-color: rgba(0,0,0,.01);
   border-top: 1px solid rgba(0,0,0,.125);
}

.text-bold {
   font-weight: bold;
}

.p-0 {
   padding: 0px;
}

.p-t-5 {
   padding-top: 5px;
}

.p-t-10 {
   padding-top: 10px;
}

.p-t-15 {
   padding-top: 15px;
}

.p-t-20 {
   padding-top: 20px;
}

.m-t-10 {
   margin-top: 10px;
}

.m-t-20 {
   margin-top: 20px;
}

.m-t-25 {
   margin-top: 25px;
}

.m-10 {
   margin: 10px;
}

.m-r-10 {
   margin-right: 10px;
}

.m-l-10 {
   margin-left: 10px;
}

.m-lr-10 {
   margin: 0 10px 0 10px;
}

.b-b-green {
   border-bottom: 3px rgb(76, 255, 0) solid;
}

.b-b-blue {
   border-bottom: 3px rgb(0, 148, 255) solid;
}

.b-b-orange {
   border-bottom: 3px rgb(255, 174, 74) solid;
}

.b-b-red {
   border-bottom: 3px rgb(255, 0, 0) solid;
}

.b-t-green {
   border-top: 3px rgb(76, 255, 0) solid;
}

.b-t-blue {
   border-top: 3px rgb(0, 148, 255) solid;
}

.b-t-orange {
   border-top: 3px rgb(255, 174, 74) solid;
}

.b-t-red {
   border-top: 3px rgb(255, 0, 0) solid;
}

.b-default {
   border: 1px rgba(0,0,0,.125) solid;
}

.c-green {
   color: rgb(76, 255, 0);
}

.c-blue {
   color: rgb(0, 148, 255);
}

.c-orange {
   color: rgb(255, 151, 54);
}

.c-red {
   color: rgb(255, 0, 0);
}

.w-full {
   width: 100%;
}

.min-h-50 {
   min-height: 50px;
}

.alert {
   position: relative;
   padding: .75rem 1.25rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
}

   .alert li {
      list-style-type: none;
      font-weight: 500;
   }

.alert-danger {
   color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
}

   .alert-danger hr {
      border-top-color: #f1b0b7;
   }

   .alert-danger .alert-link {
      color: #491217;
   }


.form-group input[type="checkbox"] {
   display: block;
}

   .form-group input[type="checkbox"] + .btn-group > label span {
      width: 20px;
   }

      .form-group input[type="checkbox"] + .btn-group > label span:first-child {
         display: none;
      }

      .form-group input[type="checkbox"] + .btn-group > label span:last-child {
         display: inline-block;
      }

   .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
      display: inline-block;
   }

   .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
      display: none;
   }


.radio-custom {
   opacity: 0;
   position: absolute;
}

.radio-custom, .radio-custom-label {
   display: inline-block;
   vertical-align: middle;
   margin: 5px;
   cursor: pointer;
   color: #fff;
   font-weight: bold;
}

   .radio-custom + .radio-custom-label:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      text-align: center;
   }

   .radio-custom + .radio-custom-label:before {
      border-radius: 50%;
      background-color: #fff;
   }

   .radio-custom:checked + .radio-custom-label:before {
      content: "\f00c";
      font-family: 'Font Awesome 6 Free';
      margin-bottom: 2px;
   }


   .checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
      content: '';
      background: transparent;
      border: 1px #fff solid;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      padding: 1px;
      margin-right: 10px;
      text-align: center;
   }

.f-left {
   float: left !important;
   padding: 5px;
}

.f-right {
   float: right !important;
   padding: 5px;
}

.d-none {
   display: none !important;
}

.pb-10 {
   padding-bottom: 5px !important;
}

@media (min-width: 993px) {
   /* .card-header{
      height: 46px;
   }*/
}

.row {
   margin: 0px;
}

.cursor-pointer {
   cursor: pointer;
}
